.stack_button {
  position: relative;
}

.stack__body {
  @media (min-width: 1012px) {
    position: absolute;
    z-index: 1;
  }
}

.no_image_project {
  width: 64px;
  height: 64px;
  line-height: 64px;
}


.project_items {
    max-width: 1024px;
}

.btn-md-block {
  @media (min-width: 0) and (max-width: 1024px)  {
    display: block;
    width: 100%;
    text-align: center;
  }
}